/* Normalizador de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Estilos para el header */
#main-header {
  background-color: #f0f0f0;
  text-align: center;
  position: relative;
}

#banner-container {
  position: relative;
  width: 100%;
  height: 500px; /* Aumenta la altura del banner */
  overflow: hidden;
}

#image-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo semi-transparente para mejor legibilidad */
  padding: 20px;
  width: 80%;
}

#banner-text h1 {
  font-size: 2.5em;
}

#banner-text p {
  font-size: 1.2em;
}

/* Estilos para la sección de productos */
#product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 20px 0;
  gap: 20px; /* Espacio entre columnas */
}

.product img {
  width: 100%;
  height: auto;
}

.product-info {
  padding: 0 20px;
}

.product-description {
  font-size: 1.5em;
  font-weight: bold;
}

.product-price {
  font-size: 1.2em;
  color: green;
}

/* Estilos para el footer */
footer {
  background-color: #8b5e34;
  color: white;
  text-align: center;
  padding: 20px 0;
}
